<!-- extends the parent html file which this file with inherit from -->
{% extends 'base.html' %}

<!-- adds a title -->
{% block title %} Favorites {% endblock title %}

<!-- adds content -->
{% block content %}

<h1>This is the Favorites Page</h1>

<h3>My top 5 favorite Studio Ghibli films are:</h3>

<div class="row" style="flex-wrap: wrap; justify-content: space-evenly;">

    {% for info in fav_ghibli %}
            <div class="card" style="width: 18rem; padding-top: 10px; margin-top: 20px;">
                <img src="{{ info['image'] }}" class="card-img-top" style="border-radius: 5px;" alt="Ghibli Film">
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">{{ info['title'] }}</h5>
                  <p class="card-text">{{ info['description'] }}</p>
                  <a href="{{ info['link'] }}" class="btn btn-primary">Watch on HBO</a>
                </div>
              </div>
    {% endfor %}
    
</div>


{% endblock content %}