<!-- extends the parent html file which this file with inherit from -->
{% extends 'base.html' %}

<!-- adds a title -->
{% block title %} Home {% endblock title %}

<!-- adds content -->
{% block content %}

    <div class="card mb-5">
        <div class="card-header">
            A Message From The Creator
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0" style="text-align: center;">
            <p>"I try to dig deep into the well of my subconscious. At a certain moment in that process, the lid is opened and very different ideas and visions are liberated. With those, I can start making a film. But maybe it's better that you don't open that lid completely, because if you release your subconscious it becomes really hard to live a social or family life."</p>
            <footer class="blockquote-footer">Hayao Miyazaki</footer>
            </blockquote>
        </div>
    </div>


    <div class="card">
        <div class="card-body" style="text-align: center;">
            <h4>Now that you've read that <b>awesome</b> quote.</h4><br>
            <h5>Head over to my <b>Fave Five</b> page to read about my Top Five favorite Studio Ghibli Films.</h5>
        </div>
    </div>
{% endblock content %}